.about-wrapper {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.about-intro {
  /* border: 1px solid blue; */
  padding: 1.5rem;
  margin: 0.4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.185);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.about-intro-heading {
  display: flex;
  /* align-items: center; */
  column-gap: 10px;
}
.about-intro-heading > span {
  background-color: #f8b179;
  padding: 0.2rem;
}
.about-intro-heading > h2 {
  color: #424669;
  font-weight: 500;
}
.about-intro > h4 {
  color: #424669;
  font-weight: 400;
  letter-spacing: 1px;
}
.about-intro > p {
  color: #5a5a5a;
  font-size: 0.8rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  max-width: 100%;
}
.intro-gallery {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.intro-gallery > div:nth-child(1) {
  display: grid;
  place-items: center;
  /* border: 1px solid rgb(225, 0, 255); */
}
.intro-gallery > div:nth-child(1) > img {
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
}
.intro-gallery > div:nth-child(2) {
  display: grid;
  place-content: center;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40%;
  gap: 1rem;
}
.intro-gallery > div:nth-child(2) > img:nth-child(1) {
  grid-column: 1 / span 2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.intro-gallery > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* resorces wrapper*/
.about-resource {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 2rem;
  height: max-content;
  margin: 0.4rem;
}
.about-resource > div {
  /* border: 1px solid blue; */
  padding: 1.5rem;
  box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.185);
  border-radius: 10px;
  height: max-content;
  /* margin: 1rem; */
}
.resource-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.academic-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* row-gap: 3rem; */
}
.resource-content > img {
  width: 15rem;
}
.academic-content > img {
  width: 15rem;
}
.resource-content > p,
.academic-content > p {
  font-size: 0.7rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  color: #5a5a5a;
}
/* special features */
.about-features {
  padding: 1.5rem;
  margin: 0.4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.185);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.about-features > p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  color: #5a5a5a;
}
.about-features > ul {
  padding-left: 0.7rem;
}
.about-features > ul > li {
  font-size: 0.8rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
  color: #313030;
}
/* statics wrapper*/
.about-statics {
  /* border: 1px solid red; */
  /* width: 100%; */
  margin: 0.4rem;
  padding: 1.4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.185);
  height: auto;
}
.statics-wrapper {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 40% 60%;
  height: auto;
  grid-template-rows: 1fr;
}
.statics-wrapper-left {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.statics-wrapper-left > div {
  width: 50%;
  aspect-ratio: 1;
  height: auto;
  border-style: solid;
  border-radius: 50%;
  border-width: 3rem;
  border-color: #2d3250 #f8b179 #424669 #424669;
}
.statics-wrapper-right {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  /* align-items: center; */
}
.statics-wrapper-right > div {
  color: #2d3250;
}
.statics-wrapper-right > div > div {
  /* border: 1px solid green; */
  width: 90%;
  height: 1rem;
  border-radius: 10px;
}

/* responsive --------------------------- */
@media only screen and (max-width: 400px) {
  .intro-gallery {
    /* border: 1px solid red; */
    grid-template-columns: 100%;
    /* grid-template-rows: max-content max-content; */
    overflow: hidden;
  }
  .intro-gallery > div:nth-child(1) > img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
  }
  .about-resource {
    grid-template-columns: 100%;
    row-gap: 2rem;
  }
  .statics-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: max-content 50%;
    row-gap: 2rem;
  }
}
