.collections-heading {
  background-color: #ffcba1;
  height: 5rem;
  color: #424669;
  font-size: 1.7rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}
.collection-nav {
  display: flex;
  margin: 1rem 0;
}
.collection-nav > li {
  list-style: none;
  padding: 1rem;
  color: #424669;
  letter-spacing: 1px;
  font-size: 0.8rem;
  transition: 0.2s ease;
  border-bottom: 4px solid #ffffff;
  &:hover {
    border-bottom: 4px solid #ffcba1;
  }
}
.collection-nav > ul > li.selected {
  background-color: #ffcba1;
  color: #fff;
}
/* book list wrapper */
.collection-content-wrapper {
  /* border: 1px solid red; */
  margin: 0.4rem;
  padding: 1.4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(34, 34, 34, 0.13);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.booklist-section {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  /* justify-content: space-between; */
  border-bottom: 1px solid #ffcba1;
  justify-content: center;
  padding-bottom: 1rem;
}
.booklist-section > h2 {
  /* border: 1px solid red; */
  color: #424669;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  /* border: 1px solid red; */
}
.booklist-lists {
  margin-top: 1rem;
}
.booklist-list {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  justify-content: space-between;
  background-color: #424669;
  padding: 1rem 1rem;
  border-radius: 10px;
  transition: 0.5s ease;
  margin-bottom: 1rem;
}
.booklist-list > div {
  text-align: center;
  color: rgb(255, 255, 255);
}
.booklist-list > div:nth-child(2) {
  color: #ffcba1;
}
.booklist-list > div:nth-child(1) {
  text-align: left;
}
.booklist-list > div:nth-child(4) {
  text-align: right;
}
.booklist-section > h2:nth-child(1) {
  text-align: left;
}
.booklist-section > h2:nth-child(4) {
  text-align: right;
}
/* responsive --------- */
@media screen and (max-width: 400px) {
  .collections-heading {
    font-size: 1.3rem;
  }
  .collection-nav > {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .collection-nav > li {
    font-size: 0.6rem;
    /* padding: 0; */
  }
  .booklist-section > h2 {
    /* border: 1px solid red; */
    text-align: center;
  }
  .booklist-list > div {
    font-size: 0.7rem;
  }
}
